#IMPORTANTE: CUANDO VAYAN A PONER LAS VARIABLES NO DEJEN ESPACIO ENTRE EL SIGNO DE IGUAL Y EL VALOR, POR EJEMPLO: ACCESS_TOKEN=valor, NO ACCESS_TOKEN = valor

# Los tokens de acceso, el más largo es el primero xd
ACCESS_TOKEN=
THE_MOVIEDB_KEY=

#base de datos
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=cuevana7_movies_app_cv_db
POSTGREST_PORT=5432
# Para conectar desde la aplicación a la base de datos en Docker
# se usa el nombre del servicio "db" como host
DB_HOST=db

JWT_SECRET_KEY=gael